{% extends "::base.html.twig" %}

{% block title %} {% endblock %}
{% block body %}
    <div class="row">
        <div class="container ">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('homepage') }}">Главная</a></li>
                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('sonata_admin_dashboard') }}" id="admin_panel">Админская панель</a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('add_place') }}">Добавить новое место</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block content %} {% endblock %}
{% endblock %}