{% extends "@App/menu.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}
{% block body %}
    <div class="row">
        <div class="container ">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('homepage') }}">Главная</a></li>
                {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('sonata_admin_dashboard') }}" id="admin_panel">Админская панель</a></li>
                {% endif %}
                <li>
                    <form action="{{ path('search_institution') }}">
                        <p><input type="search" name="word" placeholder="Поиск по заведения">
                            <input type="submit" value="Найти"></p>
                    </form>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('add_place') }}">Добавить новое место</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block content %}
        <div class="container">
            <div class="row">

                <h1>Главная страница</h1>
                {% for flashMessage in app.session.flashbag.get('greeting') %}
                    <div class="col-lg-offset-3 col-lg-3 col-lg-offset-3">{{ flashMessage }}</div>
                    {% if is_granted('ROLE_USER') %}
                        <p>Но вы можете добавить это место</p>
                        <a href="{{ path('add_place') }}"> Перейдя по ссылке </a>
                    {% endif %}
                {% endfor %}
                <div class="col-lg-12">
                    <h2>Выбери Категорию</h2>

                    {% for category in categories %}
                        <a href=""> {{ category.name }}</a>
                    {% endfor %}
                </div>

                {% for institution in institutions %}
                    {% if institution.isActive == true %}
                        <div class="col-lg-3">
                            <a href="{{ path('app_institution_showinstitution', {'id': institution.id }) }}">
                                <img class="img-thumbnail" width="200" height="200"
                                     src="{{ vich_uploader_asset(institution, 'avatarFile') }}">
                            </a>
                            <a href="{{ path('app_institution_showinstitution', {'id': institution.id }) }}">
                                <p class="text-danger">{{ institution.name }}</p>
                            </a>
                            <h4> Средний рейтинг: {{ institution.overralScore }}
                                Комментарии: {{ institution.numberOfReviews }}</h4>
                            <p class="text-info">Фотографий:{{ institution.numberOfImages }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}

{% endblock %}