{% extends "@App/menu.html.twig" %}

{% block title %}AppBundle:Institution:addInstitution{% endblock %}

{% block content %}
<h1>Здесь вы можете добавить свое заведение</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}
