{% extends "@App/menu.html.twig" %}

{% block title %}AppBundle:Institution:showInstitution{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ institution.name }}</h2>
                <h4>{{ institution.category }}</h4>
                <h4>{{ institution.description }}</h4>
            </div>
            <div class="col-lg-4">
                <img class="img-thumbnail" width="350" height="150"
                     src="{{ vich_uploader_asset(institution, 'avatarFile') }}">
            </div>
            <div class="col-lg-12">
                {% for image in institution.images %}
                    <img class="img-thumbnail" width="100" height="100"
                         src="{{ vich_uploader_asset(image, 'imageFile') }}">
                {% endfor %}
            </div>
            <div class="col-lg-12">
                <h1>Рейтинги</h1>
                <h2>Общий рейтинг: {{ overral_scores }}</h2>
                {% for key,name in all_scores %}
                    {% if key == 'food' %}
                        <h3>Качество еды: {{ name }}</h3>
                    {% endif %}
                    {% if key == 'service' %}
                        <h3>Качество сервиса: {{ name }}</h3>
                    {% endif %}
                    {% if key == 'interior' %}
                        <h3>Интерьер: {{ name }}</h3>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-12">
                <hr>
                <h1>Отзывы</h1>
                {% for review in institution.reviews %}
                    <div class="col-lg-12">
                        {#<h3>{{ review.publishdate|date('Y-M-d') }} <b> {{ review.user.username }} </b>said:</h3>#}
                    </div>
                    <h4>Описание: {{ review.description }}</h4>
                    <h3>Качество еды: {{ review.foodquality }}</h3>
                    <h3>Качество сервиса:{{ review.servicequality }}</h3>
                    <h3>Интерьер:{{ review.interiorquality }}</h3>
                {% endfor %}
            </div>
            {#{% if user.id  == institution.user.id%}#}
            <div class="col-lg-12">
                <h1>Оставить отзыв</h1>
                {{ form_start(review_form) }}
                <div class="col-lg-12">
                    {{ form_row(review_form.description) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(review_form.food_quality) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(review_form.service_quality) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(review_form.interior_quality) }}
                </div>
                <div class="col-lg-3">
                    {{ form_row(review_form.submit) }}
                </div>
                {{ form_end(review_form) }}
            </div>
            {#{% else %}#}
            {#<p>не можешь добавить отзыв</p>#}
            {#{% endif %}#}
            <div class="col-lg-12">
                <h1>Добавить Фото</h1>
                {{ form_start(image_form) }}
                {{ form_widget(image_form) }}
                {{ form_end(image_form) }}
            </div>
        </div>
    </div>
{% endblock %}
